In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [23]:
l1 = ['Sudh','kumar','krish','naik']

In [24]:
for i in l1:
    print(i)

Sudh
kumar
krish
naik

In [25]:
l1

['Sudh', 'kumar', 'krish', 'naik']

In [26]:
for i in l1:
    print(i)
else :
    print("if loop starts")

Sudh
kumar
krish
naik
if loop starts

In [27]:
l1

['Sudh', 'kumar', 'krish', 'naik']

In [28]:
for i in l1:
    if i == "kumar":
        break
    print(i)

Sudh

In [29]:
l1

['Sudh', 'kumar', 'krish', 'naik']

In [30]:
for i in l1:
    if i == "kumar":
        break
    print(i)
else :
    print("is this in")

Sudh

In [31]:
l1

['Sudh', 'kumar', 'krish', 'naik']

In [32]:
for i in l1:
    if i == "kumar":
        continue
    print(i)

Sudh
krish
naik

In [34]:
for i in l1:
    if i == "kumar":
        print(i)
    else:
        print("lol")

lol
kumar
lol
lol

In [35]:
for i in l1:
    if i == "kumar":
        continue
    print(i)

Sudh
krish
naik

In [36]:
range(0,5)

range(0, 5)

In [37]:
list(range(5))

[0, 1, 2, 3, 4]

In [38]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [39]:
list(range(0,28,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]

In [41]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [42]:
l1

['Sudh', 'kumar', 'krish', 'naik']

In [43]:
len(l1)

4

In [44]:
list(range(len(l1)))

[0, 1, 2, 3]

In [46]:
for i in range(len(l1)):
    print(l1(i))

TypeError: 'list' object is not callable

In [47]:
len(l1)

4

In [48]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [49]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
Sudh

In [50]:
for i in [3,2,1,0]:
    print(l1[i])

naik
krish
kumar
Sudh

In [57]:
l2 = [12,13,23,2,42,23,2,32,332,23,23,12,121,35,4,56]

In [58]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [59]:
for i in range(0,len(l2),2):
    print(l2[i])

12
23
42
2
332
23
121
4

In [60]:
l = [1,2,3,4,5,6,734]

In [61]:
sum(l)

755

In [62]:
result = 0
for i in l :
    result = result + i 
result

755

In [67]:
t = (1,2,3,4,5)

In [68]:
for i in t:
    print(i)

1
2
3
4
5

In [69]:
result = 0 
for i in t:
    result = result + i
result

15

In [70]:
result = 0
for i in t:
    result = result + i 
result

15